[Unit]
Description=Fight Mode Controller
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m /home/booster/Desktop/booster/booster_python_client
WorkingDirectory=/home/booster/Desktop/booster
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target